.placeHolder {
  background: linear-gradient(to bottom right, blue, pink);
  transition: all 300ms;
  animation: Loading 1500ms linear alternate infinite;
}

@keyframes Loading {
  0% {
    background: #999;
  }
  100% {
    background: #333;
  }
}