.articleList {
  display: flex;
  justify-content: flex-start;
}
.labels {
  flex-grow: 1;
}
.label {
  margin: 2px auto;
  p {
    font-size: 12px;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 4px;
  }
}
.article {
  flex-grow: 5;
}
.labelList, 
.list {
  list-style: none;
}
.item {
  margin: 6px 2px;
}