.containor {
  width: 95%;
  margin: 0 0 0 5%;
  overflow: scroll;
  position: relative;
}
.list {
  width: 200vw;
  max-height: 88px;
  overflow-y: hidden;
  list-style: none;
  position: relative;
}
.item {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 4px 8px;
  margin: 8px 12px;
  border: 1px solid #000;
}
.alert {
  position: relative;
}